.vs
bin
obj
Docs/ProgramacionDinamica.aux
Docs/ProgramacionDinamica.fdb_latexmk
Docs/ProgramacionDinamica
Docs/ProgramacionDinamica.synctex.gz
Docs/ProgramacionDinamica.fls
Docs/ProgramacionDinamica.log
Docs/ProgramacionDinamica.tex